/*CSS Files */

#users{

width:300px;
height:200px;
background-color: #0FF;
float:right;
color:#fff;


}
#use{
width:300px;
height:200px;
background-color: #0FF;
color:#fff;
margin-top:-50px;

}
/*responsive menu item */
body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	
	
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
    background-color: #F90;
}



ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

h1 {
   color : red;
   font-family : gothic, sans-serif;
   font-size : 1.6em;
   text-decoration: blink;
   }
h2 { 
   color : green;
    font-size : 1.4em;
   }
   /*set the paragraph style*/
   p {
      font-family : verdana, sans-serif;
	  text-align : justify;
	  font-size : 1em;
	  font-weight : bold ;
	  font-style : italic;
	  }
h3 {
   font-variant : small-caps;
   
   }
 body {
      background-color : #ffffcc;
	  }
      